.header {
  display: flex;
  justify-content: space-between;
  padding: 28px 48px 0;
}

@media (max-width: 860px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 560px) {
  .header {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}