.lead__caption {
  margin: 0;
  align-self: flex-start;
  font-size: 10px;
  line-height: 1.4;
  text-transform: uppercase;
  padding-top: 11px;
  letter-spacing: 0.15em;
}

@media (max-width: 860px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media (max-width: 560px) {
  .lead__caption  {
    padding-left: 16px;
  }
}