.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 1.089;
  margin: 0;
  padding-bottom: 48px;
}

@media (max-width: 560px) {
  .intro__title  {
    font-size: 32px;
    line-height: 1.09;
  }
}